@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h3 { 
    font: bold 500% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em; 
    width: 5ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(5, end),
               blink-caret .2s step-end infinite alternate;
}

h4 { 
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em; 
    width: 22ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(22, end),
               blink-caret .2s step-end infinite alternate;
}

h5 { 
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em; 
    width: 27ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 4s steps(27, end),
               blink-caret .2s step-end infinite alternate;
}